<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parrish.android.portfolio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MovieApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.movie.MovieActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.movie.details.MovieDetailsActivity"
            android:parentActivityName=".activities.movie.MovieActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.movie.MovieActivity" />
        </activity>

        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".activities.movie.MovieActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.movie.MovieActivity" />
        </activity>
    </application>

</manifest>